/spagolite-core/target/
/spagolite-middle/target/
/spagolite-webresources/target/
/spagolite-paginator-gf/target/
/spagolite-paginator-ejb/target/
/**/nb-configuration.xml
/target/
/spagolite-si-server/target/
/spagolite-si-client/target/
/spagolite-si-util/target/
/spagolite-sl-jpa/target/
/spagolite-sl-slg/target/
/spagolite-sl-ejb/target/
/spagolite-sl-web/target/
/spagolite-timer-wrapper-common/target/
/spagolite-timer-wrapper-ejb/target/
/spagolite-sl-test/target/
/.settings
/.project
/.classpath
/.metadata
/**/.settings
/**/.project
/**/.classpath
/**/.metadata
/nbactions.xml
/**/nbproject
.idea/
**/*.iml
.vscode/
spagolite-paginator-gf/.settings/org.eclipse.core.resources.prefs